.basic {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.4);
    position: relative;
  }
  .blur {
    position: absolute;
    bottom: 25px;
    right: 162px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
  }.basic {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.4);
    position: relative;
  }
  .blur {
    position: absolute;
    bottom: 25px;
    right: 162px;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
  }

  .glassy{
    background: rgba(214, 51, 132, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
    backdrop-filter: blur( 4px )!important;
    -webkit-backdrop-filter: blur( 4px )!important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 )!important;
    
    }
    body{
        background-image: linear-gradient(to right, rgba(255,0,0,0.5),rgba(255,0,0,.1), rgba(255,0,0,0.5));
    }